NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YW1hemVkLWdlbGRpbmctOS5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_4VYjdtJ2rxx8CyOqVO6DTxTsxozzm4jMPZaaW9nRUg

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up

TEST_ENV="true"
TRUSTED_ORIGINS="http://localhost:3000"
DATABASE_URL="postgresql://neondb_owner:npg_m0v9cNQFMlLu@ep-rapid-snow-agwsyk32-pooler.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
